/* MHUR Nexus — V632
   Neutralisation définitive de l'ancien écran V630. */

html.mhurV630Booting::before,
html.mhurV630Booting::after,
html.mhurV630RouteLoading::before,
html.mhurV630RouteLoading::after{
  content:none!important;
  display:none!important;
  visibility:hidden!important;
  opacity:0!important;
  pointer-events:none!important;
}

html.mhurV630Booting body,
html.mhurV630Booting body>*,
html.mhurV630RouteLoading body,
html.mhurV630RouteLoading #app,
html.mhurV631NoLoader body,
html.mhurV631NoLoader body>*,
html.mhurV631NoLoader #app{
  visibility:visible!important;
  opacity:1!important;
}

html body{
  overflow:auto!important;
}
